    *{
        box-sizing: border-box;
        margin:0;
        padding:0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgba(192, 217, 255, 0.822);
    }
    
    
 
.navbar {
background: rgba(0, 0, 0, 0.945);
height:80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.1rem;
position:sticky;
top:0;
z-index:5;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width:1280px;
    margin:0 auto;
    padding: 0 50px;
}
#navbar_logo {
    background-color: blanchedalmond;
    background-image: linear-gradient(to top, blue,white, red);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


/*.btn{
    background:linear-gradient(45deg, rgb(0, 102, 255),white,cyan);
    color: black;
    margin: 10px;
    padding:10px;
    border:  solid 2px black;
    border-radius: 15px;
}

.btn:hover{
    background:linear-gradient(lightblue,rgb(0, 153, 255)) ;
    color: black;
    border:  solid 2px black;
   border-radius: 15px;
   transition: .5s;
}
*/



.fa-car {
    margin:1rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style:none;
    text-align: center;
    
}

.navbar_item {
    height:85px;

}

.navbar_links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height:100%;
}

.navbar_links:hover {
    transition: all .4s ease;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width:100%;
    border: solid 1px rgb(64, 128, 248);
    outline:none;
    border-radius:4px;
    background-color:rgba(48, 48, 255, 0.938);
    color: white
}
.button:hover {
    color:rgba(48, 48, 255, 0.938);
    background-color: white;
    border: solid 1px rgb(64, 128, 248);
    transition: all .4s ease;
}

@media screen and (max-width:960px){
    .navbar_container {
        display:flex;
        justify-content: space-between;
        height:80px;
        z-index: 1;
        width: 100%;
        max-width:1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity:0;  
        transition: all .4s ease;
        height: 50vh;
        z-index: -1;
        background-color: black;
    }

    .navbar_menu.active {
        background:#121313;
        top:100%;
        opacity:1;
        transition:  all .5s ease;
        z-index: 10;
        height:50vh;
        font-size: 1.4rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height:3px;
        margin:5px auto;
        transition:  all .4s ease-in-out;
        background: white;
        
    }

    .navbar_item {
        width: 100%;;
    }

    .navbar_links {
        text-align: center;
        padding:  2rem;
        width:100%;
        display:table;
    }

    #mobile-menu{
        position: absolute;
        top:20%;
        right:5%;
        transform:  translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom:2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 60px;
        margin: 0;
        
    }

.navbar_toggle .bar {
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity:0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.main_btn{
    font-size: 20px;
    text-shadow: rgb(255, 255, 255) .5px .5px ;
    background-color: #121313;
    border: none;
}
}
.main{
    background-color: #121313;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height:80vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main_content h1{
    font-size: 4rem;
    background-color: #202222;
    background-image: linear-gradient(to top,#0314ff 0%,white, rgb(255, 25, 0) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}




























































