    body{
        background:linear-gradient(45deg, rgb(0, 102, 255),white,cyan);

        align-items: center;
        background-repeat: no-repeat;
        padding: 10px;
     
        
    }
.btn{
    background:linear-gradient(45deg, rgb(0, 102, 255),white,cyan);
    color: black;
    margin: 10px;
    padding:10px;
    border:  solid 2px black;
    border-radius: 15px;
}
.btn:hover{
    background:linear-gradient(lightblue,rgb(0, 153, 255)) ;
    color: black;
    border:  solid 2px black;
   border-radius: 15px;
   transition: .5s;
}